.maintext {
    display: flex;
    justify-content: center;
    color: #3a506b;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e8e8e8;
}

.image {
    max-width: 50px;
    height: auto;
}

.firstline {
    display: flex;
    align-items: center;
    margin: 10px 20px 0px 20px;
}

.inputtask {
    display: flex;
    flex: 1;
    height: 35px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding-left: 15px;
}

.btn {
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px 20px;
    flex: auto;

}

.btn-red {
    background-color: red;
}

.btn-blue {
    background-color: #5bc0be;

}

.actionbtn {
    display: flex;
    justify-content: center;
}

.task-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    margin: 10px 20px;

}

.editbtn {
    height: 20px;
    margin: 10px 5px;
    border: none;
    background-color: white;
}

.pen {
    height: 20px;
    width: 20px;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.task-text {
    padding-left: 10px;
}

.danger-section {
    display: flex;
}